@import "/src/styles/defaults.scss";

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #f109de;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f1a1f8;
}

.todo-item-info {
  display: flex;
  align-items: center;
}

.todo-item-buttons {
  display: flex;
}

.done-button,
.delete-button,
.edit-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  color: #383232;
  cursor: pointer;
  margin-left: 10px;
}

.done-button:hover,
.delete-button:hover,
.edit-button:hover {
  color: #f34a4a;
}

.done-button .icon,
.delete-button .icon .edit-button .icon {
  font-size: 1.2em;
  margin-right: 5px;
}

.done-button span {
  margin-left: 5px;
}

.delete-button {
  color: #383232;
}
