@import "./defaults.scss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nameHeader {
  font-size: 3rem;
  font-weight: 900;
  background-color: $color-primary;
  color: $color-secondary;
  text-align: center;
  border: 2px solid $color-black;
  border-radius: steps(6);
  padding: steps(1);
  margin: steps(1);
  width: steps(50);
  height: auto;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    background-color: hover($color-tertiary);
    color: hover($color-secondary);
  }
}

.positionHeader {
  font-size: 2rem;
  font-weight: 700;
  background-color: $color-secondary;
  color: $color-primary;
  text-align: center;
  border: 2px solid $color-black;
  border-radius: steps(6);
  padding: steps(1);
  margin: steps(1);
  width: steps(50);
  height: auto;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    background-color: hover($color-tertiary);
    color: hover($color-secondary);
  }
}

.skillsHeader {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: $color-secondary;
  color: $color-primary;
  text-align: center;
  border: 2px solid $color-black;
  border-radius: steps(6);
  padding: steps(1);
  margin: steps(1);
  width: steps(50);
  height: auto;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    background-color: hover($color-tertiary);
    color: hover($color-secondary);
  }
}

.skillsList {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: $color-tertiary;
  color: $color-quaternary;
  text-align: center;
  border: 2px solid $color-black;
  border-radius: steps(6);
  padding: steps(1);
  margin: steps(1);
  width: steps(50);
  height: auto;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    background-color: hover($color-tertiary);
    color: hover($color-quaternary);
  }
}

.hobbiesHeader {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: $color-secondary;
  color: $color-primary;
  text-align: center;
  border: 2px solid $color-black;
  border-radius: steps(6);
  padding: steps(1);
  margin: steps(1);
  width: steps(50);
  height: auto;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    background-color: hover($color-tertiary);
    color: hover($color-quaternary);
  }
}

.hobbiesList {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: $color-tertiary;
  color: $color-quaternary;
  text-align: center;
  border: 2px solid $color-black;
  border-radius: steps(6);
  padding: steps(1);
  margin: steps(1);
  width: steps(50);
  height: auto;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    background-color: hover($color-tertiary);
    color: hover($color-quaternary);
  }
}
