

$color-primary : rgb(34, 128, 206);
$color-secondary : rgb(54, 233, 233);
$color-tertiary : rgb(135, 229, 236);
$color-quaternary : rgb(10, 83, 241);

$color-white : white;
$color-black : black;

@function steps($number){
    @return $number * 4px;
}

@mixin for-at-least ($min-width: 600px, $max-widt: 900px) {
    @media screen and (min-width: $min-width) and (max-width: $max-widt) {
        @content;
    }
}

@function hover($color){
    @return darken($color, 30%);
}